/*
1200PX min width 
NAV BAR FIXED
link footer hover
trasparenza bottoni
font: montserrat
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
  display: table;
  content: '';
  clear: both;
}

.width{
  width: 80%;
  margin: auto;
}

.min-width{
  min-width: 1200px;
}

.float-left{
  float: left;
}
.col-logo img{
  width: 40%;
}

/* --------------------- */

header{
  height: 868px;
}
.logo-nav{
  height: 65px;
  background-color: red;
}

.logo-nav .logo{
  position: relative;
  width: 50%;
  height:65px;
  background-color: gray;
}

.logo-nav .logo img{
  position: absolute;
  width: 85px;
  left:0;
  top: 50%;
  transform: translate(0,-50%);
}
.logo-nav .nav{
  width: 50%;
  height: 65px;
  line-height: 65px;
  background-color: blue;
  text-align: right;
}

.logo-nav .nav ul li{
  display: inline;
  text-transform: capitalize;
  margin-right: 20px;
}
.logo-nav .nav ul li a{
  text-decoration: none;
  color: white;
}
/* .logo-nav .nav ul li a::after{
  font-family: 'Font Awesome 5';
  content: '<i class="fas fa-angle-down"></i>';
  margin-left: 10px;
} */

.logo-nav .nav ul li span{
  margin-left: 10px;
}


/* BANNER */
.banner{
  height:800px;
  background-image: url(../img/jumbotron.png);
  background-color: #FFF3EE;
  background-size: 1900px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  border-bottom: 5px solid black;
}

.banner .banner-text{
  padding-top: 50px;
  padding-right: 40%;
  height:50%;
  top: 18%;
  left: 0%;
  font-size: 2vh
}
.banner .banner-text h2{
  font-size: 50px;
  color: #33475B;
}
.banner .banner-text p{
  line-height: 25px;
  margin-bottom: 25px;
  margin-top: 50px;
}
.banner .banner-text p:last-child{
  font-size: 75%;
}

.btn{
  background-color: #FE795C;
  width: fit-content;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  padding: 0% 4%;
}

.btn a{
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}

.divisore{
  height: 65px;
  width: 100%;
  background-color: aquamarine;
  border-bottom: 5px solid black;
}

/* CUBES SECTION */

.cubes{
  margin-top: 100px;
  text-align: center;
}

.cube-header img{
  width: 20%;
}
.cube-header-text{
  width: 60%;
  margin: auto;
  line-height: 80px;
  margin-bottom: 50px;
  
}
.cube-header-text h2{
  color: #33475B;
}
.cube-header-text p{
  line-height: 30px;
}

.free-crm{

  border-radius: 5px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
  padding: 2%;
}

.book{
  width: 30%;

}

.book .btn{
  margin: 20px auto;
}
.feature{
  width:70%;
  text-align:left;  
}

.titles{
  font-size: 25px;
  font-weight: 800;
}

.feature p{
  margin: 10px 0;
}
.feature .popular-linea{
  margin: 50px 0;
  line-height: 2px;
}
.feature .popular{
  width: 30%; 
}
.feature .linea{
  position: relative;
  width: 70%;
  height: 5px;
}
.feature .linea::after{
  background-color: black;
  bottom: 5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 80%;
}
.free-crm ul{
  text-align: left;
  list-style: none;
  padding-inline-start: 0;
}
.free-crm ul li{
  display: inline;
  margin: 0% 5%;
  text-decoration: none;
}
.free-crm ul li i{
  color: orange;
}
.hubs{
  margin-top: 50px;
}

.col-3{
  width: 30%;
  background-color: yellow;
  margin-right: 1%;
}
.col-container{
  width: 90%;
  margin: auto;
}

.hubs .col-logo img{
  width: 30%;
}
.hubs .col-description{
  position: relative;
  padding: 0% 6%;
  line-height: 30px;
  margin-top: 20px;
  padding-bottom: 70px;
}
.hubs .col-description::after{
  background-color: red;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 90%;
}
.col-bottom h4{
  margin-top: 30px;
}
.col-bottom ul{
  text-align: left;
  list-style: none;

  line-height: 30px;
}


